<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/main.css">
  
  <title>application</title>
</head>

<body ng-app='app'>
  <div class="appWrapper" ng-controller="haha">
    <div class="wrapperForTabs">
      <h1>Currency Converter</h1>
      <ul class="tab-label">
          <li class="active" ng-click="activeTab=false" >sell</li>
          <li ng-click="activeTab=true; chgBg='active'" ng-class="chgBg">buy</li>
        </ul>
    </div>    
    <div class="wrapperCurrrency">
      <div class="content-buy" ng-show="activeTab === false">
      <div class="wrapperInputs">
        <p class="infoTxt">Give: {{givenCurrency}}</p>
        <p class="infoTxt">Receive: {{receivenCurrency}}</p>
        <select class="form-control" name="currency" ng-model="givenCurrency">
          <option value="US">US</option>
          <option value="UA">UA</option>
          <option value="RUB">RUB</option>
        </select>
        <button type="button" class="btn btn-outline-exchange" ng-click="givenCurrency = receivenCurrency">
          <span>&#8656;</span>
          <span>&#8658;</span>
        </button>
        <select class="form-control" ng-model="receivenCurrency">
          <option value="US">US</option>
          <option value="UA">UA</option>
          <option value="RUB">RUB</option>
        </select>
        <p class="infoTxt">How much need to change:</p>
        <p class="infoTxt">How much need to get:</p>
        <input class="form-control currencyInp" type="text" placeholder="">
        <span class="or">or</span>
        <input class="form-control currencyInp" type="text" placeholder="">
      </div>
    </div>
    <div class="content-sell" ng-hide="activeTab === false">
        <div class="wrapperInputs">
          <p class="infoTxt">Give:</p>
          <p class="infoTxt">Receive:</p>
          <select class="form-control" name="currency" >
            <option value="US">UR</option>
            <option value="UA">UA</option>
            <option value="RUB">RUB</option>
          </select>
          <button type="button" class="btn btn-outline-exchange">
            <span>&#8656;</span>
            <span>&#8658;</span>
          </button>
          <select class="form-control">
            <option value="US">UR</option>
            <option value="UA">UA</option>
            <option value="RUB">RUB</option>
          </select>
          <p class="infoTxt">How much need to change:</p>
          <p class="infoTxt">How much need to get:</p>
          <input class="form-control currencyInp" type="text" placeholder="">
          <span class="or">or</span>
          <input class="form-control currencyInp" type="text" placeholder="">
        </div>
      </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.7/angular.min.js"></script>
<script defer src="./js/index.js"></script>
</body>

</html>